{% extends "core/base.html" %}
{% load static %}

{% block content %}
	<div class="row">
	  <div class="col-12 stretch-card">
		  <div class="card border-primary">
        <div class="card-body">
          <h2 class="card-title font-weight-bold">About This Site</h2>
          <div class="d-flex">			
            <div class="d-flex align-items-center text-muted font-weight-light">
              
                <!-- <div class="col-2">
                  <img src="{% static 'assets/images/information_icon.png' %}" class="mw-100 w-100 rounded" alt="image" />
                </div> -->
                <div class="col-12">
                  <span> 
                    <p>
                    The DevPatrol Data Analytics Portal is a prototype of an internal company site that allows multiple users to access and utilize one web application for their data analytics information and visualizations.
                    DevPatrol is a fictitious company and this site is built off of an Office365 developer sandbox/test environment.
                    </p>
                    <p>
                    The "view" for each user will differ since it is based on the user's team association. In order to test this site, please
                    contact the developer for a list of test user credentials.
                  </p>
                  </span>
                </div>

            </div>
          </div>
        </div>
		  </div>
	  </div>
	</div>
{% endblock %}
