	
	var r1 = {{ rangeset1|safe }};
	
	var sZ1 = [
	   {strokeStyle: "#F03E3E", min: 0, max: r1[0]}, // Red 
	   {strokeStyle: "#FFDD00", min: r1[0], max: r1[1]}, // Yellow
	   {strokeStyle: "#30B32D", min: r1[1], max: r1[2]}, // Green
	];
	
	var sL1 = {
		font: "10px sans-serif", 
		labels: r1[3], 
		color: "#000000", 
		fractionDigits: 0 
	};
	
	opts.staticZones = sZ1;
	opts.staticLabels = sL1;
	var gauge1 = new Gauge(target1).setOptions(opts);
	gauge1.maxValue = r1[2];
	gauge1.animationSpeed = 32;
	gauge1.set({{ gauge1|safe }});