{% extends "core/base.html" %}
{% load static %}

{% block content %}
	<div class="page-header">
	  <h3 class="page-title">
		<span class="text-dark mr-2">
		  {{ user.firstName }}'s Dashboard
		</span> 
	  </h3>
	  <nav aria-label="breadcrumb">
		<ul class="breadcrumb">
		  <li class="breadcrumb-item active" aria-current="page">
			<span></span><small class="font-italic">Today is {{ currentDate }}</small>
		  </li>
		</ul>
	  </nav>
	</div>		
	<p class='lead font-weight-bold'>Top 3 Performance Metrics Per Group</p>
	
	<div class="row">
	  <div class="col-md-6 grid-margin2 stretch-card">
		<div class="card">
		  <div class="card-body2 text-center">	
			  <h4 class="finance-text text-uppercase text-center"><u>Finance</u></h4>
			  <div class="row">				
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ finance.0|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart1"></canvas></div>
					<small class="card-text">{{ finance.6|safe }}%</small>
				</div>
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ finance.1|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart2"></canvas></div>
					<small class="card-text">{{ finance.7|safe }}%</small>
				</div>
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ finance.2|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart3"></canvas></div>
					<small class="card-text">{{ finance.8|safe }}</small>
				</div>
			  </div>				
		  </div>
		</div>
	  </div>		
	  <div class="col-md-6 grid-margin2 stretch-card">
		<div class="card">
		  <div class="card-body2 text-center">
			  <h4 class="manufacturing-text text-uppercase text-center"><u>Manufacturing</u></h4>		  
			  <div class="row">
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ manufacturing.0|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart4"></canvas></div>
					<small class="card-text">{{ manufacturing.6|safe }}%</small>
				</div>
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ manufacturing.1|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart5"></canvas></div>
					<small class="card-text">{{ manufacturing.7|safe }}%</small>
				</div>
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ manufacturing.2|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart6"></canvas></div>
					<small class="card-text">{{ manufacturing.8|safe }}</small>
				</div>
			  </div>				
		  </div>
		</div>
	  </div>	
	</div>
	
	<div class="row">
	  <div class="col-md-6 grid-margin2 stretch-card">
		<div class="card">
		  <div class="card-body2 text-center">
			  <h4 class="retail-text text-uppercase text-center"><u>Retail</u></h4>		  
			  <div class="row">
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ retail.0|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart7"></canvas></div>
					<small class="card-text">{{ retail.6|safe }}%</small>
				</div>
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ retail.1|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart8"></canvas></div>
					<small class="card-text">{{ retail.7|safe }}%</small>
				</div>
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ retail.2|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart9"></canvas></div>
					<small class="card-text">{{ retail.8|safe }}%</small>
				</div>
			  </div>				
		  </div>
		</div>
	  </div>		
	  <div class="col-md-6 grid-margin2 stretch-card">
		<div class="card">
		  <div class="card-body2 text-center">
			  <h4 class="salesmarketing-text text-uppercase text-center"><u>Sales & Marketing</u></h4>		  
			  <div class="row">
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ salesmarketing.0|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart10"></canvas></div>
					<small class="card-text">{{ salesmarketing.6|safe }}%</small>
				</div>
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ salesmarketing.1|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart11"></canvas></div>
					<small class="card-text">{{ salesmarketing.7|safe }}%</small>
				</div>
				<div class="col-md-4">
					<h5 class="card-title2 text-center">{{ salesmarketing.2|safe }}</h5>
					<div><canvas class="gauge-chart" id="gaugeChart12"></canvas></div>
					<small class="card-text">{{ salesmarketing.8|safe }}%</small>
				</div>
			  </div>				
		  </div>
		</div>
	  </div>
	</div>

{% endblock %}

{% block gauge_script %}

	var opts = {
	  lines: 12,
	  angle: 0,
	  lineWidth: 0.4,
	  pointer: {
		length: 0.7,
		strokeWidth: 0.045,
		color: '#000000'
	  },
	  limitMax: 'false', 
	  percentColors: [[0.0, "#a9d70b" ], [0.50, "#f9c802"], [1.0, "#ff0000"]], 
	  strokeColor: '#E0E0E0',
	  generateGradient: true,
	  renderTicks: {
		divisions: 5,
		divWidth: 1.1,
		divLength: 0.7,
		divColor: "#333333",
		subDivisions: 3,
		subLength: 0.5,
		subWidth: 0.6,
		subColor: "#666666"
	  },
	};

	{% include "core/fin_gauge_js.html" with rangeset1=finance.3 rangeset2=finance.4 rangeset3=finance.5 gauge1=finance.6 gauge2=finance.7 gauge3=finance.8 %}
	
	{% include "core/man_gauge_js.html" with rangeset4=manufacturing.3 rangeset5=manufacturing.4 rangeset6=manufacturing.5 gauge4=manufacturing.6 gauge5=manufacturing.7 gauge6=manufacturing.8 %}

	{% include "core/ret_gauge_js.html" with rangeset7=retail.3 rangeset8=retail.4 rangeset9=retail.5 gauge7=retail.6 gauge8=retail.7 gauge9=retail.8 %}

	{% include "core/sm_gauge_js.html" with rangeset10=salesmarketing.3 rangeset11=salesmarketing.4 rangeset12=salesmarketing.5 gauge10=salesmarketing.6 gauge11=salesmarketing.7 gauge12=salesmarketing.8 %}

{% endblock %}
